body {
    background-image: url('../images/starwars.jpg');
    /* background-repeat: no-repeat; */
    background-attachment: fixed;
    background-position: center; 
    font-family: 'Poller One', cursive;
    color: #ffe919;
}